html,body{
	padding: 0;
	margin: 0;
}
.pull-right{
  float: right;
}
.pull-left{
	float: left;
}
.clearfix{
	display: table;
	clear: both;
}
.ellipsis{
	text-overflow: hidden;
	overflow: hidden;
	white-space: nowrap;
}
.inline-block{
	display: inline-block;
}
.mb5{
  margin-bottom: 5px;
}
.mb10{
  margin-bottom: 10px;
}
.mb15{
  margin-bottom: 15px;
}
.mb20{
  margin-bottom: 20px;
}
.mb30{
  margin-bottom: 30px;
}